body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    font-family: Tahoma;
    border-top: 65px solid #3c3938;
}

header {
    height: 294px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#000 43%, #a19794 43%);
}

.header {
    margin-left: 250px;
    margin-right: 35px;
}


html {
    margin: 0;
    padding: 0;
}

.fav {
    width: 90px;
    height: 125px;
    background-image: url(../images/header_fav.jpg);
}

.logo {
    width: 583px;
    height: 63px;
    margin: -125px 0 0 90px;
    background-image: url(../images/header_logo.jpg);
}

.order-top {
    width: 335px;
    height: 63px;
    margin: -63px 0 0 673px;
    background-color: #e34f1b;
}

.ord-1 {
    margin: 0;
    padding: 4px 0 0 20px;
    color: #f7f3f2;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.0;
}

.ord-2 {
    margin: -40px 0 0 140px;     
    font-size: 24px;    
}

.heat {
    width: 600px;
    margin: 0 0 0 80px;
    
}

.heat p {
    margin: 0;
    padding: 10px 0 0 20px;
    color: #f7f3f2;
    font-size: 32px;
    text-align: center;
}

.ord-2 a {
    text-decoration: none;
    color: #f7f3f2;
    font-size: 24px;
}

.sentence>p:first-child {
    width: 650px;
    line-height: 1.0;
    font-size: 37px;
    
}

.sentence>p:nth-child(2) {
    width: 450px;
    font-weight: 500;
    font-size: 18px;
    font-stretch: ultra-condensed;
}

.sentence {
    line-height: 0.4px;
}

.order-bottom {
    width: 300px;
    height: 150px;
    margin-left: 655px;
    margin-top: -150px;
    padding-top: 10px;
}
.center {
    width: 300px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2em
}



.button {
    width: 240px;
    height: 37px;
    background-color: #e24f1b;
    border: 1px solid #9f3611;
    border-radius: 9px;
    margin: auto;
}

.button a {
    display: block;
    margin: 15px 0 0 30px;
    font-size: 24px;
    text-decoration: none;
    color: #f7f3f2;
}

.action {
    max-width: 1300px;
    max-height: 457px;
    margin-top: 8px;
    margin-bottom: -16px;
    background-color: #ced0d3;
    padding-left: 250px;
    border-bottom: 1px solid #524e4d;
}

#action {
    width: 415px;
    height: 457px;
    background-color: #e24f1b;
    color: #f7f3f2;
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.8px;
}

#action p {
    margin: 10px auto;
    line-height: 1.2em;
    font-size: 30px;
}

.baxi {
    width: 635px;
    height: 457px;
    margin: -457px 0 0 415px;
    background-image: url(../images/action_image.jpg); 
}

.wrapper {
    padding: 35px 30px;
}

#action .ord-3 {
    width: 230px;
    height: 60px;
    margin-top: 40px;
    background-color: #a19794;
    border-radius: 8px;
    box-shadow: inset 0 -8px 0 0 #524e4d;
    letter-spacing: 1.7px;
}

.action span {
    font-size: 34px;
}

.ord-3 a {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 34px;
}

.line {
    width: 365px;
    height: 10px;
    margin-top: 30px;
    background-color: #524e4d;
    border-radius: 5px;
}

.working {
    max-width: 1300px;
    max-height: 410px;
    background-color: #ced0d3;
}

ul {
    padding: 20px 25px 0 25px;
    list-style: none;
}

li {
    display: inline-block;
    width: 204px;
    height: 250px;
    float: left;
    text-align: center;
    vertical-align: top;
}





h6 {
    margin: 5px;
    font-size: 16px;
}



.line-1 {
    width: 1150px;
    height: 6px;
    margin: -30px auto 0;
    background-color: #524e4d;
    border-radius: 3px;
}


#h-own p{
    padding: 5px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.overview {
    max-width: ; 
    max-height: 730px;
    margin: -5px auto 0;
    background-color: #ced0d3;
}

.heating, .water, .drain {
    max-width: 1300px;
    height: 233px;
    background-color: #f84506;
}

.heating div, .water div, .drain div{
    width: 578px;
    height: 213px;
    margin-left: 185px;
    padding: 10px;
    background-color: #fff;
    font-size: 24px;
    color: #080504;
}

.h-two {
    margin: 5px;
    font-size: 34px;
    text-align: center;
    letter-spacing: 5px;
}

.overview p {
    margin: 5px;
}

.heating img {
    margin: -226px 0 20px 587px;
}

.water img {
    margin: -231px 0 23px -538px;
}

.water {
    margin: 20px auto;
}

.drain img {
    margin: -197px 0 0 584px;
}

.water div {
    margin-left: 528px;
}

.clearfix {
    clear: both;
}

.circle {
    position: relative;
    width: 770px;
    height: 800px;
}

.what-we { 
    max-width: 1300px;
    max-height: 866px;
}

.circle ul {
    position: absolute;
    width: 770px;
    height: 770px;
    padding: 0;
    margin-top: 20px;
}

.circle li {
    width: 250px;
    height: 400px;
    float: left;
}

.circle li:nth-child(1) p::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-image: url(../images/calling.png);
    background-size: 150px auto;
}

.circle li:nth-child(2) p::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-image: url(../images/calculation.png);
    background-size: 150px auto;
}

.circle li:nth-child(3) p::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-image: url(../images/agreement.png);
    background-size: 150px auto;
}

.circle li:nth-child(4) p::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-image: url(../images/begining.png);
    background-size: 150px auto;
}

.circle li:nth-child(5) p::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-image: url(../images/payment.png);
    background-size: 150px auto;
}

.circle li:nth-child(6) p::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-image: url(../images/theend.png);
    background-size: 150px auto;
}

.circle li p {
    position: relative;
    display: block;
    width: 190px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
}

.circle li:nth-child(1) p {
    margin-top: 50px;
    padding-top: 90px;
    text-align: center;
}
.circle li:nth-child(2) p {
    padding-top: 230px;
    text-align: center;
}

.circle li:nth-child(3) p {
    margin-top: 50px;
    padding-top: 40px;
    text-align: center;
}
.circle li:nth-child(4) p {
    margin-top: 50px;
    padding-top: 200px;
    text-align: center;
}
.circle li:nth-child(5) p {
    margin-top: 50px;
    padding-top: 40px;
    text-align: center;
}
.circle li:nth-child(6) p {
    margin-top: 50px;
    padding-top: 190px;
    text-align: center;
}
.circle>h2 {
    margin-top: 9px;
    margin-bottom: -30px;
    padding-top: 20px;
    text-align: center;
    font-size: 45px;
}

.divide {
    width: 4px;
    height: 750px;
    border-right: 1px solid #524e4d;
    border-left: 1px solid #524e4d;
    margin: -709px 0 0 767px;;
}

.what-we-do {
    background-image: url(../images/basis_1.png);
    background-repeat: no-repeat;
}

.call-me {
    width: 520px;
    height: 790px;
    margin-left: 780px;
    margin-top: -856px;
    padding-top: 90px;
    color: #7c7776;
}

.call-me p {
    font-size: 32px;
    text-align: center;
}



.call-me .number {
    font-size: 42px;
    color: #000;
}

.form1 {
    width: 420px;
    height: 255px;
    padding: 0 50px;
}

input {
    width: 320px;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid #524e4d;
    font-size: 30px;
}

form {
    margin: 0;
    padding: 50px 50px;
    border: 1px solid #524e4d;
}

form .button {
    margin: 10px auto;
    font-size: 20px;
    color: #fff;
}

.btn {
    text-align: center;
}

.btn .button a {
    margin: 0;
}

.lightbox {
    width: 1300px;
    background-color: #ced0d3;
    overflow:hidden;
}

.box {
    width: 896px;
    margin: 0 auto;
    padding: 2px;
    background-color: #524e4d;
    color: #fff;
    font-size: 26px;
}

.lightbox h3 {
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
}

.gallery {
    width: 900px;
    margin: 0 auto;
}

html {
    margin: 0;
    padding: 0;
}

.about-us {
    width: 1300px;
}

.about {
    width: 900px;
    height: 270px;
    background-color: #ffffff;
}

.about>div {
    text-align: center;
}

.about .clients {
    margin: 0;
    padding: 10px;
    font-size: 32px;
    font-weight: normal;
}

.call-me-two {
    width: 399px;
    height: 270px;
    margin: -270px 0 0 900px;
    background-color: #f1e9e9;
    border-left:1px solid #524e4d;
}

.form2 {
    width: 100%;
}



.form2 form {
    margin: 0;
    padding: 0;
    border: none;
    padding: 0 40px;
}



.call-me-two>div>p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.form2 input {
    width: 320px;
    height: 40px;
    margin-bottom: 25px;
}

footer {
    width: 1300px;
    height: 150px;
    background-color: #000;
}

.icon {
    width: 90px;
    height: 125px;
    background-image: url(../images/header_fav.jpg);
}

.phone {
    width: 584px;
    height: 60px;
    margin-left: 90px;
    margin-top: -125px;
}

footer .phone p {
    display: inline-block;
    margin: -60px 0 0 0;
    padding: 0 175px;
    text-align: center;
}

.phone a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.footer {
    margin-left: 250px;
}

.ip {
    width: 584px;
    height: 65px;
    margin-left: 90px;
    background-image: url(../images/ip.jpg);
}

body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    font-family: Tahoma;
    border-top: 65px solid #3c3938;
}
